@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-light-webfont.woff2') format('woff2'), url('./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'), url('./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-italic-webfont.woff2') format('woff2'), url('./fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-semibold-webfont.woff2') format('woff2'), url('./fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-semibolditalic-webfont.woff2') format('woff2'), url('./fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'), url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('./fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('./fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('./fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    max-width: 800px;
}

.header {
    @apply fixed w-full z-10 bg-gray-dark flex justify-between items-center;
    max-width: 800px;
    height: 40px;
}

.header-button {
    @apply p-3;
}

.header-divider {
    @apply block w-px bg-gray-header-divider;
    height: 19px;
}

.header-notify,
.header-link,
.header-image,
.header-settings {
    @apply block bg-gray-light hover:bg-gray-lighter transition-colors ease-in-out;
    width: 16px;
    height: 16px;
}

.header-notify {
    mask-image: url('./images/header-notify.svg');
    width: 14px;
}

.header-link {
    mask-image: url('./images/header-link.svg');
}

.header-image {
    mask-image: url('./images/header-image.svg');
    width: 19px;
}

.header-settings {
    mask-image: url('./images/header-settings.svg');
}

.sidebar {
    @apply hidden lg:block fixed top-0 w-48;
    left: calc(50vw - 620px);
}

.sidebar-logo {
    @apply block;
    background-image: url('./images/sidebar-logo.svg');
    width: 153px;
    height: 41px;
    margin-top: 19px;
    margin-bottom: 16px;
}

.sidebar-item {
    @apply mb-4 rounded-full px-4 py-2 last:mb-0 hover:bg-gray-darker transition-colors ease-in-out;
}

.sidebar-item-active {
    @apply bg-gray-darker sidebar-item;
}

.sidebar-item-link {
    @apply flex items-center;
}

.sidebar-anime,
.sidebar-cinema,
.sidebar-general,
.sidebar-message,
.sidebar-po,
.sidebar-profile,
.sidebar-settings {
    @apply inline-block bg-gray-light group-hover:bg-gray-lighter transition-colors ease-in-out;
    width: 20px;
    height: 20px;
}

.sidebar-item-active.sidebar-item-active .sidebar-anime,
.sidebar-item-active.sidebar-item-active .sidebar-cinema,
.sidebar-item-active.sidebar-item-active .sidebar-general,
.sidebar-item-active.sidebar-item-active .sidebar-message,
.sidebar-item-active.sidebar-item-active .sidebar-po,
.sidebar-item-active.sidebar-item-active .sidebar-profile,
.sidebar-item-active.sidebar-item-active .sidebar-settings {
    @apply bg-orange;
}

.sidebar-anime {
    mask-image: url('./images/sidebar-anime.svg');
}

.sidebar-cinema {
    mask-image: url('./images/sidebar-cinema.svg');
}

.sidebar-general {
    mask-image: url('./images/sidebar-general.svg');
}

.sidebar-message {
    mask-image: url('./images/sidebar-message.svg');
    width: 25px;
}

.sidebar-po {
    mask-image: url('./images/sidebar-po.svg');
}

.sidebar-profile {
    mask-image: url('./images/sidebar-profile.svg');
}

.sidebar-settings {
    mask-image: url('./images/sidebar-settings.svg');
}

.sidebar-divider {
    @apply border-gray-sidebar-divider mx-8 my-3;
}

.post {
    @apply rounded-md bg-gray;
}

.post-header {
    @apply flex items-baseline pt-4 px-4 pb-1;
}

.post-author {
    @apply flex items-baseline text-lg font-semibold;
}

.post-tripcode:not(:empty)::before {
    content: '!';
}

.post-no {
    @apply text-orange;
}

    .post-no::before {
        content: '№';
    }

.post-date {
    @apply text-gray-post-date;
}

.post-buttons {
    @apply self-center flex items-center leading-none;
}

.post-reply,
.post-im,
.post-actions {
    @apply block bg-gray-light hover:bg-gray-lighter transition-colors ease-in-out;
    width: 34px;
    height: 30px;
}

.post-reply {
    mask-image: url('./images/post-reply.svg');
}

.post-im {
    mask-image: url('./images/post-im.svg');
}

.post-actions {
    mask-image: url('./images/post-actions.svg');
}


.post-section {
    @apply p-4 border-gray-section-divider;
}

    .post-section + .post-section {
        @apply border-t;
    }

.post-footer {
    @apply text-sm;
}

    .post-footer:not(:empty) {
        @apply px-4 pb-4;
    }

@tailwind screens;
